<?xml version="1.0"?>

<robot name="logger" xmlns:xacro="https://www.ros.org/wiki/xacro" >

    <!-- Included URDF Files -->
    <xacro:include filename="$(find loggers_description)/urdf/logger.urdf.xacro" />

    <!-- Instantiate logger_base_macro once (has no parameters atm) -->
    <xacro:logger_macro />
    <!-- differential_drive_controller plugin -->
    <gazebo>
        <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <legacyMode>false</legacyMode>
            <alwaysOn>true</alwaysOn>
            <updateRate>100</updateRate>
            <leftJoint>chassis-left_wheel</leftJoint>
            <rightJoint>chassis-right_wheel</rightJoint>
            <wheelSeparation>0.25</wheelSeparation>
            <wheelDiameter>0.18</wheelDiameter>
            <wheelTorque>1</wheelTorque>
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <robotBaseFrame>chassis</robotBaseFrame>
        </plugin>
    </gazebo>


</robot>
