<launch>

    <arg name="robot_namespace" default="/"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find loggers_description)/urdf/double_logger.urdf.xacro' robot_namespace:=$(arg robot_namespace)" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find loggers_description)/rviz/double_logger.rviz"/>

</launch>
